In [24]:
#pip install faker
#generates random names. if you dont have it. install using cmd or running the line

In [7]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range(100)]

In [16]:
names

[['Sheena', 'Morse'],
 ['Joshua', 'Rojas'],
 ['Steve', 'Gilmore'],
 ['Gabriella', 'Swanson'],
 ['Andrew', 'Webb'],
 ['Tina', 'Hoffman'],
 ['Eric', 'Dickson'],
 ['Randy', 'Willis'],
 ['Robert', 'Bennett'],
 ['Arthur', 'Richards'],
 ['Jonathan', 'Harris'],
 ['Alexander', 'Juarez'],
 ['Stephen', 'Bennett'],
 ['Raymond', 'Tucker'],
 ['Diamond', 'Harmon'],
 ['Ashley', 'Norman'],
 ['Ashley', 'Garcia'],
 ['Nathaniel', 'Chavez'],
 ['Michael', 'Allen'],
 ['Erin', 'Campbell'],
 ['Michael', 'Ruiz'],
 ['David', 'Nelson'],
 ['Alexis', 'Hall'],
 ['Elizabeth', 'Hall'],
 ['Corey', 'Carr'],
 ['Stacy', 'Henderson'],
 ['Danielle', 'Palmer'],
 ['Evelyn', 'Morrow'],
 ['Tony', 'Ferguson'],
 ['Thomas', 'Hoover'],
 ['Dominique', 'Williams'],
 ['Brooke', 'Bailey'],
 ['Andrea', 'Gonzalez'],
 ['Alexander', 'Carr'],
 ['Jacob', 'Clay'],
 ['Austin', 'Bell'],
 ['Vanessa', 'Thompson'],
 ['Jennifer', 'Hamilton'],
 ['Michael', 'Barry'],
 ['Jonathan', 'Thomas'],
 ['Anthony', 'Richards'],
 ['Laura', 'Zimmerman'],
 ['Ashley', 'Klein'],
 ['Walter', 'Gomez'],
 ['Karen', 'Jackson'],
 ['Emily', 'Miller'],
 ['Joshua', 'Berry'],
 ['Alexander', 'Vasquez'],
 ['Jason', 'Mendoza'],
 ['Alexander', 'Douglas'],
 ['Hayden', 'Lawson'],
 ['Chloe', 'Munoz'],
 ['Kevin', 'Kent'],
 ['Brittany', 'Cox'],
 ['Jonathan', 'Mendoza'],
 ['Aaron', 'Johnson'],
 ['Lauren', 'Banks'],
 ['Emily', 'Pham'],
 ['Christopher', 'Case'],
 ['Timothy', 'Delacruz'],
 ['Susan', 'White'],
 ['Brittany', 'Acosta'],
 ['Karen', 'Nolan'],
 ['Samantha', 'Lynch'],
 ['Samuel', 'Brown'],
 ['Jeffrey', 'King'],
 ['Jose', 'Dixon'],
 ['Heather', 'Smith'],
 ['Pamela', 'Bullock'],
 ['Charles', 'Evans'],
 ['Zachary', 'Arnold'],
 ['Melissa', 'Thompson'],
 ['Sara', 'Carter'],
 ['Lisa', 'Rodriguez'],
 ['Bryce', 'Lee'],
 ['Melissa', 'Gallegos'],
 ['Justin', 'Cook'],
 ['Spencer', 'Riley'],
 ['Glen', 'Davis'],
 ['Rebecca', 'Ward'],
 ['Ashley', 'Hodge'],
 ['Sarah', 'Smith'],
 ['Dennis', 'Gutierrez'],
 ['Diane', 'Walsh'],
 ['Joseph', 'Walton'],
 ['Samantha', 'Smith'],
 ['Monique', 'Austin'],
 ['Wesley', 'Luna'],
 ['William', 'Walker'],
 ['Brandon', 'Haas'],
 ['Brian', 'Kennedy'],
 ['Michael', 'Barrera'],
 ['Sandra', 'Lee']]

In [9]:
names= [name for name in names if len(name) == 2]

names

[['Sheena', 'Morse'],
 ['Joshua', 'Rojas'],
 ['Steve', 'Gilmore'],
 ['Gabriella', 'Swanson'],
 ['Andrew', 'Webb'],
 ['Tina', 'Hoffman'],
 ['Eric', 'Dickson'],
 ['Randy', 'Willis'],
 ['Robert', 'Bennett'],
 ['Arthur', 'Richards'],
 ['Jonathan', 'Harris'],
 ['Alexander', 'Juarez'],
 ['Stephen', 'Bennett'],
 ['Raymond', 'Tucker'],
 ['Diamond', 'Harmon'],
 ['Ashley', 'Norman'],
 ['Ashley', 'Garcia'],
 ['Nathaniel', 'Chavez'],
 ['Michael', 'Allen'],
 ['Erin', 'Campbell'],
 ['Michael', 'Ruiz'],
 ['David', 'Nelson'],
 ['Alexis', 'Hall'],
 ['Elizabeth', 'Hall'],
 ['Corey', 'Carr'],
 ['Stacy', 'Henderson'],
 ['Danielle', 'Palmer'],
 ['Evelyn', 'Morrow'],
 ['Tony', 'Ferguson'],
 ['Thomas', 'Hoover'],
 ['Dominique', 'Williams'],
 ['Brooke', 'Bailey'],
 ['Andrea', 'Gonzalez'],
 ['Alexander', 'Carr'],
 ['Jacob', 'Clay'],
 ['Austin', 'Bell'],
 ['Vanessa', 'Thompson'],
 ['Jennifer', 'Hamilton'],
 ['Michael', 'Barry'],
 ['Jonathan', 'Thomas'],
 ['Anthony', 'Richards'],
 ['Laura', 'Zimmerman'],
 ['Ashley', 'Klein'],
 ['Walter', 'Gomez'],
 ['Karen', 'Jackson'],
 ['Emily', 'Miller'],
 ['Joshua', 'Berry'],
 ['Alexander', 'Vasquez'],
 ['Jason', 'Mendoza'],
 ['Alexander', 'Douglas'],
 ['Hayden', 'Lawson'],
 ['Chloe', 'Munoz'],
 ['Kevin', 'Kent'],
 ['Brittany', 'Cox'],
 ['Jonathan', 'Mendoza'],
 ['Aaron', 'Johnson'],
 ['Lauren', 'Banks'],
 ['Emily', 'Pham'],
 ['Christopher', 'Case'],
 ['Timothy', 'Delacruz'],
 ['Susan', 'White'],
 ['Brittany', 'Acosta'],
 ['Karen', 'Nolan'],
 ['Samantha', 'Lynch'],
 ['Samuel', 'Brown'],
 ['Jeffrey', 'King'],
 ['Jose', 'Dixon'],
 ['Heather', 'Smith'],
 ['Pamela', 'Bullock'],
 ['Charles', 'Evans'],
 ['Zachary', 'Arnold'],
 ['Melissa', 'Thompson'],
 ['Sara', 'Carter'],
 ['Lisa', 'Rodriguez'],
 ['Bryce', 'Lee'],
 ['Melissa', 'Gallegos'],
 ['Justin', 'Cook'],
 ['Spencer', 'Riley'],
 ['Glen', 'Davis'],
 ['Rebecca', 'Ward'],
 ['Ashley', 'Hodge'],
 ['Sarah', 'Smith'],
 ['Dennis', 'Gutierrez'],
 ['Diane', 'Walsh'],
 ['Joseph', 'Walton'],
 ['Samantha', 'Smith'],
 ['Monique', 'Austin'],
 ['Wesley', 'Luna'],
 ['William', 'Walker'],
 ['Brandon', 'Haas'],
 ['Brian', 'Kennedy'],
 ['Michael', 'Barrera'],
 ['Sandra', 'Lee']]

In [10]:
len(names)

93

In [12]:
import sqlite3
connection = sqlite3.connect("sample.db")
insert_query = 'INSERT INTO people (name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [13]:
insert_query = 'INSERT INTO people (name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [23]:
#check if work
#SELECT query
select_query = 'SELECT * from people'
for result in cursor.execute(select_query):
    print(result)

(1, 'Sheena', 'Morse')
(2, 'Joshua', 'Rojas')
(3, 'Steve', 'Gilmore')
(4, 'Gabriella', 'Swanson')
(5, 'Andrew', 'Webb')
(6, 'Tina', 'Hoffman')
(7, 'Eric', 'Dickson')
(8, 'Randy', 'Willis')
(9, 'Robert', 'Bennett')
(10, 'Arthur', 'Richards')
(11, 'Jonathan', 'Harris')
(12, 'Alexander', 'Juarez')
(13, 'Stephen', 'Bennett')
(14, 'Raymond', 'Tucker')
(15, 'Diamond', 'Harmon')
(16, 'Ashley', 'Norman')
(17, 'Ashley', 'Garcia')
(18, 'Nathaniel', 'Chavez')
(19, 'Michael', 'Allen')
(20, 'Erin', 'Campbell')
(21, 'Michael', 'Ruiz')
(22, 'David', 'Nelson')
(23, 'Alexis', 'Hall')
(24, 'Elizabeth', 'Hall')
(25, 'Corey', 'Carr')
(26, 'Stacy', 'Henderson')
(27, 'Danielle', 'Palmer')
(28, 'Evelyn', 'Morrow')
(29, 'Tony', 'Ferguson')
(30, 'Thomas', 'Hoover')
(31, 'Dominique', 'Williams')
(32, 'Brooke', 'Bailey')
(33, 'Andrea', 'Gonzalez')
(34, 'Alexander', 'Carr')
(35, 'Jacob', 'Clay')
(36, 'Austin', 'Bell')
(37, 'Vanessa', 'Thompson')
(38, 'Jennifer', 'Hamilton')
(39, 'Michael', 'Barry')
(40, 'Jonathan', 'Thomas')
(41, 'Anthony', 'Richards')
(42, 'Laura', 'Zimmerman')
(43, 'Ashley', 'Klein')
(44, 'Walter', 'Gomez')
(45, 'Karen', 'Jackson')
(46, 'Emily', 'Miller')
(47, 'Joshua', 'Berry')
(48, 'Alexander', 'Vasquez')
(49, 'Jason', 'Mendoza')
(50, 'Alexander', 'Douglas')
(51, 'Hayden', 'Lawson')
(52, 'Chloe', 'Munoz')
(53, 'Kevin', 'Kent')
(54, 'Brittany', 'Cox')
(55, 'Jonathan', 'Mendoza')
(56, 'Aaron', 'Johnson')
(57, 'Lauren', 'Banks')
(58, 'Emily', 'Pham')
(59, 'Christopher', 'Case')
(60, 'Timothy', 'Delacruz')
(61, 'Susan', 'White')
(62, 'Brittany', 'Acosta')
(63, 'Karen', 'Nolan')
(64, 'Samantha', 'Lynch')
(65, 'Samuel', 'Brown')
(66, 'Jeffrey', 'King')
(67, 'Jose', 'Dixon')
(68, 'Heather', 'Smith')
(69, 'Pamela', 'Bullock')
(70, 'Charles', 'Evans')
(71, 'Zachary', 'Arnold')
(72, 'Melissa', 'Thompson')
(73, 'Sara', 'Carter')
(74, 'Lisa', 'Rodriguez')
(75, 'Bryce', 'Lee')
(76, 'Melissa', 'Gallegos')
(77, 'Justin', 'Cook')
(78, 'Spencer', 'Riley')
(79, 'Glen', 'Davis')
(80, 'Rebecca', 'Ward')
(81, 'Ashley', 'Hodge')
(82, 'Sarah', 'Smith')
(83, 'Dennis', 'Gutierrez')
(84, 'Diane', 'Walsh')
(85, 'Joseph', 'Walton')
(86, 'Samantha', 'Smith')
(87, 'Monique', 'Austin')
(88, 'Wesley', 'Luna')
(89, 'William', 'Walker')
(90, 'Brandon', 'Haas')
(91, 'Brian', 'Kennedy')
(92, 'Michael', 'Barrera')
(93, 'Sandra', 'Lee')

In [32]:
query = 'SELECT surname FROM people'
for result in cursor.execute(query):
    if result[0][0] == 'W':
        print(result)

('Webb',)
('Willis',)
('Williams',)
('White',)
('Ward',)
('Walsh',)
('Walton',)
('Walker',)

In [42]:
query = 'SELECT name, surname FROM people WHERE name = "Alexander" ORDER BY name DESC'
for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")

First name: Alexander, Last name: Juarez
First name: Alexander, Last name: Carr
First name: Alexander, Last name: Vasquez
First name: Alexander, Last name: Douglas

In [45]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%er" AND surname LIKE "Ca%"'
for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")
#refer to cheatsheet below
#https://learnsql.com/blog/sql-basics-cheat-sheet/

First name: Alexander, Last name: Carr
First name: Christopher, Last name: Case

In [46]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%er%"'
for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")
#syntax is "or"

First name: Eric, Last name: Dickson
First name: Robert, Last name: Bennett
First name: Alexander, Last name: Juarez
First name: Erin, Last name: Campbell
First name: Alexander, Last name: Carr
First name: Jennifer, Last name: Hamilton
First name: Walter, Last name: Gomez
First name: Alexander, Last name: Vasquez
First name: Alexander, Last name: Douglas
First name: Christopher, Last name: Case
First name: Heather, Last name: Smith
First name: Spencer, Last name: Riley

In [51]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%_a_"'
for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")
#syntax is _ is wildcard. so follow the format where indicated letter is 
#positioned there followed by/preceded by anything

First name: Jonathan, Last name: Harris
First name: Thomas, Last name: Hoover
First name: Jonathan, Last name: Thomas
First name: Jonathan, Last name: Mendoza
First name: Susan, Last name: White
First name: Sarah, Last name: Smith
First name: William, Last name: Walker
First name: Brian, Last name: Kennedy